{% extends 'layout.html' %}
{% block title %}Profil | Gudang Grosir App{% endblock %}
  
{% block content %}
<div style="padding-left: 20px;" >
    <h1 class="display-4">Profil Developer</h1><br>
      <table style="font-size: 19px;">
          <tr>
              <th>Nama</th>
              <td></td>
              <td>:</td>
              <td> Alfendio Alif Faudisyah</td>   
          </tr>
          <tr>
            <th>Prodi</th>
            <td></td>
            <td>:</td>
            <td> S1 Teknik Informatika, Data Science</td>   
          </tr>
          <tr>
            <th>Email</th>
            <td></td>
            <td>:</td>
            <td> 672019222@student.uksw.edu</td>   
          </tr>
          <tr>
              <th>LinkedIn</th>
              <td></td>
              <td>:</td>
              <td><a href="https://www.linkedin.com/in/alfendio/"> Alfendio Alif Faudisyah</a></td>
          </tr>
          <tr>
            <th>GitHub</th>
              <td></td>
              <td>:</td>
              <td><a href="https://github.com/alfendio">alfendio</a></td>
          </tr>
      </table>
  </div>

  <br><br><br><br><br><br><br><br><br><br><br><br><br>

  <div class="footer-basic">
    <footer>
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Kapita Selekta Alfamart © 2022</p>
    </footer>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
{% endblock %}